---
layout: base
---

  <body id="home">
    <div id="wrapper">
      {% include header.html %}
	  {% include main_nav.html %}
      <div id="page_body">
        <div id="content">
          {{ content }}
        
        {% for post in site.posts limit: 1 %}
        <h2>{{ post.title }}</h2>
        <span class="homeDate">{{ post.date | date_to_string }}</span>   
        <br />  <br />     
        <p>
            {{ post.excerpt }}
              {{ post.content }}
        </p>
        {% endfor %}
        
        
        <h3>Previously on the Blog</h3>
        <p>
		  {% for post in site.posts limit:2 offset:1 %}
		  <h5><a href=".{{ post.url }}">{{ post.date | date_to_string }} » {{ post.title }}</a></h5>
		  
		  {% if post.excerpt %}
		        {{ post.excerpt | strip_html | truncatewords: 100 }}
		      
		  {% else %}
		  
		    {{ post.content | strip_html | truncatewords: 100 }}
		    
		  {% endif %}
		  
		  <a href="{{ post.url }}">Continue reading</a><br />
		  
		  
		  {% endfor %}
        </p>
        </div>
	    {% include sidebar.html %}
      </div>
	  {% include footer.html %}
    </div>